#include "atkit.h"
#include "\Windmill 32\Compile Libs\commslib.h"
#include "\Windmill 32\Compile Libs\imlinter.h"
#include "\Windmill 32\Compile Libs\imslib.h"


STRINGTABLE

  BEGIN

  ATK_ERR_USER_ABORTED          "Operation has been aborted by user"
  ATK_ERR_NO_FILENAME           "No filename specified"
  ATK_ERR_NO_MEMORY_IN_DLG      "Insufficient memory to load Dialog"
  ATK_ERR_TOO_MANY_CONNECTIONS  "Too many Connections have been selected"
  ATK_ERR_NO_CONNECTIONS        "At least one connection must be specified"
  ATK_ERR_INVALID_IML_REPLY     "Invalid IML reply recieved"
  ATK_ERR_NO_LOCAL_MEMORY       "Insufficient Local Memory"
  ATK_ERR_COMMON_DIALOG         "Program or Memory Error in Common Dialog"
  ATK_ERR_NO_SUITABLE_CHANS     "No channels exist in this setup which are suitable for connection to this application"
  ATK_ERR_REPLY_TIMEOUT         "Timed out waiting for data to arrive"
  ATK_ERR_NO_GLOBAL_MEMORY      "Insufficient memory"

  IML_CONFIG_ERROR,		"Unable to find IML Device - Check configuration and restart system"
  IML_NOT_READY,                "Timed out, IML Device is busy"
  IML_BAD_HANDLE,               "Program error - Bad IML Handle"
  IML_REPLY_PENDING,            "Program error - Reply pending"
  IML_NO_REPLY_EXPECTED,        "Program error - No reply pending"
  IML_BAD_DEVICE,               "Program error - Bad IML device number"
  IML_NO_HANDLES,               "Out of Memory"
  IML_NO_DEVICES,               "No suitable devices listed in IML.INI file"
  IML_FATAL_ERROR,              "Fatal error in link to IML Device"
  IML_LINK_ERROR,               "Error in link to IML Device"
  IML_BUFFER_TOO_SMALL,         "Program error - Buffer too small"
  IML_NO_FREE_BUFFER,           "No binary data buffers available"
  IML_NO_PACKET,                "No binary data ready"
  IML_PACKET_TOO_BIG,           "Too much binary data"
  IMS_PARTITIONING,             "The setup is being edited by SetupIML, save the setup before retrying"
  IMS_CONFIGURING,              "The setup is being edited by SetupIML, save the setup before retrying"
  IMS_CHANNEL_IN_USE,           "Another application is using the channels in this setup"
  IMS_FILE_NOT_FOUND,           "Cannot find this setup file"
  IMS_FILE_FORMAT_ERROR,        "Error in the IMS file format - corrupt file"
  IMS_OUT_OF_MEMORY,            "Insufficient memory"
  IMS_LOAD_ERRORS,              "This setup file cannot be used with your current hardware configuration. It requires different hardware."
  IMS_ALREADY_LOADED,           "IMS ALREADY LOADED"
  IMS_SUCCESS,                  "IMS SUCCESS"
  IMS_BAD_NAME,                 "Program error - IMS BAD NAME"
  IMS_LOCK_UNDERFLOW,           "Program error - IMS LOCK UNDERFLOW"
  IMS_FILE_EXISTS,              "This file cannot be deleted or altered"
  IMS_CANNOT_CREATE,            "Unable to create the specified file"
  IMS_DISK_FULL,                "The disk is full - delete some files and retry"
  IMS_CHANNEL_ERROR,            "IMS CHANNEL ERROR"
  IMS_NOT_PARTITIONING,         "Program error - IMS NOT PARTITIONING"
  IMS_BAD_OPERATION,            "Program error - IMS BAD OPERATION"
  IMS_NOT_CONFIGURING,          "Program error - IMS NOT CONFIGURING"
  IMS_BAD_CHANNEL,              "Program error - IMS BAD CHANNEL"
  IMS_DUPLICATE_CHANNEL,        "Program error - IMS DUPLICATE CHANNEL"
  IMS_TOO_MANY_SETUPS,          "Too many IML setups loaded"
  IMS_BAD_KEY                   "Program error - IMS BAD KEY"
  IMS_SETUP_CHANGED             "The hardware setup has changed"   
  IMS_LIB_NOT_LOADED            "Cannot find IMSLIB.DLL - Reinstall System" 
  IMS_LIB_VERSION_ERROR         "Incompatible IMSLIB.DLL - Reinstall System"
  IMS_BUFFER_TOO_SMALL          "Program error - IMS BUFFER TOO SMALL"


	18			"Device not open"
	22			"Timed out sending command"
	26			"GPIB driver failed - run TEST488.exe"
	28			"Baud rate not supported"
	32			"Old version of GPIB Driver cannot be used"

	76			"Too many alarms or controllers in use - setup failed to load"
 
	100,                    "The demonstration version does not work with this hardware"
	104,                    "Hardware failed to accept data"
	105,                    "Hardware failed to supply data"
	106,                    "Hardware failed to configure"
	107,                    "Error in hardware communications"
	111,                    "IML internal memory corrupted"
	113,                    "IML Hardware setup not suitable"
	200,                    "Channel not present in the hardware"
	202,                    "Channel is grouped with preceding channel"
	206,                    "Data format not acceptable"
	207,                    "This channel cannot be enabled"
	208,                    "Channel does not support Filter settings"
	209,                    "Selected filter setting is not acceptable"
	212,                    "Selected measurement type is not available"
	213,                    "This name already used for another channel"
	214,                    "Not a suitable channel name"
	215,                    "Channel name cannot begin with the ID character"
	216,                    "Channel does not allow Offset (or Poisson Ratio)"
	217,                    "Unacceptable value for Offset or Poisson ratio or Scans per Trigger" 
	218,                    "Channel does not have programmable ranges or modes"
	219,                    "Selected range is not available for this type of measurement"
	220,                    "Channel does not allow a Scale factor (or Gauge factor)"
	221,                    "Unacceptable value for Scale factor or Gauge factor or Scan interval"
	222,                    "Channel does not allow Transducer to be specified"
	223,                    "Selected transducer or trigger type not available"
	224,                    "Units name is not acceptable"
	225,                    "Channel does not have programmable Wait time"
	226,                    "Channel settling wait time not acceptable"
	228,                    "Primary/secondary boundary not acceptable"
	229,                    "Primary/secondary boundary must be within this frame"
	300,                    "Channel not present in the hardware"
	302,                    "Channel is grouped with preceding channel"
	305,                    "Channel not present in the hardware"
	330,                    "Channel not present in the hardware"
	333,                    "Channel is grouped with preceeding channel"
	353,                    "Channel is not enabled"
	354,                    "Channel is of wrong type"
	356,                    "Unable to achieve zero point with the current imbalance and excitation voltages"




  END
